body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('./assets/IBM_Plex_Mono/IBMPlexMono-Medium.ttf') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('./assets/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('woff');
  font-weight: bold;
}

:root {
  --border-radius: 10px;
  --box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  --primary: #04d68f;
  --secondary: #339dff;
  --secondaryGradient: linear-gradient(90deg, #598bff, #36f);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1 {
  font-size: 24px;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

h2 {
  display: inline-block;
  font-size: 24px;
  font-family: "IBM Plex Mono";
  margin: 5px 0px 5px 0px;
}

h3 {
  font-size: 18px;
  font-weight: 100;
  font-family: "IBM Plex Mono";
  margin: 5px 0px 5px 0px;
}

h4 {
  font-size: 13.3333px;
  font-weight: 100;
  font-family: "IBM Plex Mono";
  margin: 5px 0px 5px 0px;
}

.main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.container {
  position: relative;
  padding: 0px;
  margin-top: 10px;
}

@media (max-width: 726px) {
  .container {
    max-width: 100%
  }
}

.container>div {
  max-width: 100%;
  padding: 0px 10px 0px 10px;
  position: relative;
}

header {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 69px;
  box-shadow: var(--box-shadow);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.card {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px 20px 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  overflow: hidden;
}

.separator {
  background: var(--primary);
  width: 100%;
  height: 2px;
  padding-right: 5px
}

.logo-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  align-content: center;
}

img {
  height: 100%;
}

.iot-button {
  padding: 10px 0px 10px 0px;
  display: flex;
  align-content: center;
  align-items: center;
}

.iot-button button {
  position: relative;
  height: 70px;
  min-width: 80px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  outline: none !important;
  border: none;
  box-shadow: var(--box-shadow);
}

.line-chart {
  margin-top: 15px;
  height: 25vh;
}

@media (min-width: 992px) {
 .line-chart {
   height: 45vh;
 }
}

.chart-drop-down {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 3px;
  box-shadow: var(--box-shadow);
  outline: none !important;
  cursor: pointer;
  border: solid 2px var(--primary);
  border-radius: 5px;
  font-family: "IBM Plex Mono";
  background: transparent;
}

option {
  color: #262F4D !important;
}

.toggler {
  height: 30px;
  width: 50px;
  border: solid 2px var(--primary);
  border-radius: 15px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

#loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.preference {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 5px 0px 5px 0px;
}

.preference input {
  background: transparent;
  font-family: "Arial";
  border: solid 2px;
  height: 25px;
  width: 55px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 5px;
  outline: none !important;
  transition: all 0.3s ease;
}

.preference button {
  background: transparent;
  border: solid 2px;
  height: 30px;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 5px;
  outline: none !important;
  transition: all 0.3s ease;
}

.sensorPicker {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sensorPicker>div {
  flex: 0 0 auto;
  font-size: 13.3333;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  border: 2px transparent solid;
}
